@model ShoppingList.Models.ListContent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ListContent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserShoppingList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserShoppingList.ShoppingListName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.NameProduct)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ListContentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
